<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Успех</title>
    <!-- Подключите статичеcкие файлы со стилями Bootstrap -->
</head>
<body>
<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">Спасибо!</h1>
        <p class="lead">Ваше сообщение успешно отправлено. Мы свяжемся с вами в ближайшее время.</p>
        <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>

<!-- Подключите статичеcкие файлы со скриптами Bootstrap -->
</body>
</html>